<div class="container">
    <h1 class="playfair">Our Menu</h1>
    <p>We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
    <div class="menu-options">
        <a  (click)="setActiveTab(1)" [class.active]="activeTab === 1">All</a>
        <a  (click)="setActiveTab(2)" [class.active]="activeTab === 2">Breakfast</a>
        <a  (click)="setActiveTab(3)" [class.active]="activeTab === 3">Main Dishes</a>
        <a  (click)="setActiveTab(4)" [class.active]="activeTab === 4">Drinks</a>
        <a  (click)="setActiveTab(5)" [class.active]="activeTab === 5">Desserts</a>
    </div>
    <div class="menu-container">
        <div class="menu-item-card">
            <img src="./pexels-daniela-constantini-5591664 1.jpg" alt="">
            <div>
                <h2>$ 9.99</h2>
                <h2 class="recipe-name">Fried Eggs</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-maksim-goncharenok-4773769 1.jpg" alt="">
            <div>
                <h2>$ 15.99</h2>
                <h2 class="recipe-name">Hawaiian Pizza</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-nadin-sh-12956424 1.jpg" alt="">
            <div>
                <h2>$ 7.25</h2>
                <h2 class="recipe-name">Martinez Cocktail</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-ruslan-khmelevsky-7845121 1.jpg" alt="">
            <div>
                <h2>$ 20.99</h2>
                <h2 class="recipe-name">Butterscotch Cake</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-bam-awey-5335918 1.jpg" alt="">
            <div>
                <h2>$ 5.89</h2>
                <h2 class="recipe-name">Mint Lemonade</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-roman-odintsov-5061254 1.jpg" alt="">
            <div>
                <h2>$ 18.05</h2>
                <h2 class="recipe-name">Chocolate Icecream</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-pixabay-327158 1.jpg" alt="">
            <div>
                <h2>$ 12.99</h2>
                <h2 class="recipe-name">Cheese Burger</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
        <div class="menu-item-card">
            <img src="./pexels-nicola-barts-7937386 1.jpg" alt="">
            <div>
                <h2>$ 12.99</h2>
                <h2 class="recipe-name">Classic Waffles</h2>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
    </div>
</div>