<!--
This component is used to browse the general catagories of the menu of Bistro Bliss Restaurant.
The menu is divided into four categories: Breakfast, Main Dishes, Drinks and Desserts.
Each category has a title and a description.
The component is used in the Browse Menu page.
-->

<div class="container">
    <h1 class="playfair">Browse Our Menu</h1>
    <div>
        <div class="menu-card">
            <div>
                <img src="./tea 1.png">
            </div>
            <h2>Breakfast</h2>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a href="#">Explore Menu</a>
        </div>
        <div class="menu-card">
            <div><img src="./rice.png"></div>
            <h2>Main Dishes</h2>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a href="#">Explore Menu</a>
        </div>
        <div class="menu-card">
            <div><img src="./drink.png"></div>
            <h2>Drinks</h2>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a href="#">Explore Menu</a>
        </div>
        <div class="menu-card">
            <div><img src="./desert.png"></div>
            <h2>Desserts</h2>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a href="#">Explore Menu</a>
        </div>
    </div>
</div>