<div class="container">
    <h1 class="playfair">We also offer unique<br>services for your events</h1>
    <div class="services-container">
        <div class="service-card">
            <img src="./kebab-set-table 1.jpg" alt="">
            <h2>Caterings</h2>
            <p>In the new era of technology we look in the future with certainty for life.</p>
        </div>
        <div class="service-card">
            <img src="./charming-female-blowing-candles-birthday-cake-after-making-her-wish-party 1.jpg" alt="">
            <h2>Birthdays</h2>
            <p>In the new era of technology we look in the future with certainty for life.</p>
        </div>
        <div class="service-card">
            <img src="./happy-man-wife-sunny-day 1.jpg" alt="">
            <h2>Weddings</h2>
            <p>In the new era of technology we look in the future with certainty for life.</p>
        </div>
        <div class="service-card">
            <img src="group-friends-eating-restaurant 1.jpg" alt="">
            <h2>Events</h2>
            <p>In the new era of technology we look in the future with certainty for life.</p>
        </div>
    </div>
</div>