<div class="container">
    <h1 class="playfair">What Our Customers Say</h1>
    <div class="reviews-container">
        <div class="review">
            <h2>“The best restaurant!”</h2>
            <p>Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.</p>
            <hr>
            <div class="review-footer">
                <img src="./customer1.png" alt="Profile">
                <div class="user-info">
                    <p>Sophie Robinson</p>
                    <p>Los Angeles, CA</p>
                </div>
            </div>
        </div>
        <div class="review">
            <h2>“Simply Delicious!”</h2>
            <p>Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.</p>
            <hr>
            <div class="review-footer">
                <img src="./customer2.png" alt="Profile">
                <div class="user-info">
                    <p>Matt Cannon</p>
                    <p>San Diego, CA</p>
                </div>
            </div>
        </div>
        <div class="review">
            <h2>“One of a kind restaurant”</h2>
            <p>The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing short of extraordinary. The food was the highlight of our evening. Highly recommended.</p>
            <hr>
            <div class="review-footer">
                <img src="./customer3.png" alt="Profile">
                <div class="user-info">
                    <p>Andy Smith</p>
                    <p>San Fransico, CA</p>
                </div>
            </div>
        </div>
    </div>
</div>