@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --black-color: #474747;
    --black-color-2: #2C2F24;
    --crimson-color: #AD343E;
    --white-ish-color: #DBDFD0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "DM Sans", sans-serif;
}

html, body {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--black-color) white;
    scroll-behavior: smooth;
}

body {
    overscroll-behavior: none;
}

h1,h2,h3,h4,h5,h6,p:hover {
    cursor: default;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

p {
    color: #495460;
    font-size: 18px;
}

.playfair {
    font-family: "Playfair Display", serif;
}